<div class="container ">
    <div class="header row justify-content-center">
        <div class="col-11">
            <h1 class="header-title">Andreas Happe: {{ if not .IsHome }}{{ .Title }}{{ else }}{{ "Everything" }}{{ end }}</h1>
            {{ if not .PublishDate.IsZero }}
                {{ partial "article-meta.html" . }}
            {{ end }}

            <ul class="nav justify-content-center">
                {{ range .Site.Menus.main }}
                    <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
