article img {
	max-width: 100%;
}


main h2.card-title a {
	color: rgb(64, 71, 78);
	font-family: 1rem/1.667 'proxima-nova', Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.2px;
	line-height: 1.2;
	margin-bottom: 1.125rem;
}

main p.card-text {
	font: 1rem/1.667 'proxima-nova', Helvetica, Arial, sans-serif;
	color: #40474e;
}

.highlight {
	overflow-x: auto;
	margin: 20px;
}

table.lntable {
	min-width: 100%;
}

pre.chroma {
	margin: 0;
}

body {
	text-align: justify;
}

