.hide {
	  display: none;
}

.header {
  /* my-5 */
  margin-top: 48px;
  margin-bottom: 48px;

  /* text-center */
  text-align: center !important;
}

.header-title {
  /* mb-4 */
  margin-bottom: 24px;
  text-transform: capitalize;
}

.publish-meta {
  /* mb-5 */
  margin-bottom: 24px;  /* TODO: 24px in list, 48px in show */
  text-transform: uppercase;

  /* small */
  font-size: 80%;
  font-weight: 400;
}

@media (max-width: 991.98px) {
	div.article-toc {
		display: none;
	}
}

.site-footer {
	/* mt-5 */
	margin-top: 48px;
}

.article-list {
	/* py-4 */
	padding-top: 24px;
	padding-bottom: 24px;
}

.article-navigation {
	/* pt-5 pb-5 */
	padding-top: 48px;
	padding-bottom: 48px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	color: #40474e;
	line-height: 1.63;
	text-align: justify;
}

article.article-entry {
	font-family: libre baskerville, Libre, Georgia, Times, serif;
}

article div.highlight {
	margin: 2em;
	padding: 0;
	box-shadow: 5px 5px 5px, rgba(68, 68, 68, 0.6);
	border-radius: 7px;
	border: 1px solid #40474e;
}

article div.highlight table {
	padding-top: 1em !important;
}

article img {
	max-width: 100%;
  height: auto;
}

figure {
  padding-top: 12px;
  padding-bottom: 12px;
}

figure figcaption {
  text-align: center;
  padding-top: 6px;
}

figure figcaption h4 {
  font-size: 90%;
}

h1, h2, h3 {
	font-family: 'Nunito Sans', sans-serif;
}

article h2 {
	margin-top: 3rem;
}

article h3 {
	font-size: 1.0rem;
}

nav#TableOfContents a.active {
	color: red;
}

.highlight {
  overflow-x: auto; /* needed for round corners at border? */
}

h2.card-title a {
	font-family: 'Nunito Sans', sans-serif;
	color: rgb(64, 71, 78);
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.2px;
	line-height: 1.2;
	margin-bottom: 1.125rem;
}

/* background image */

.bg-skew {
  position: relative
}
  
.bg-skew:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1
  }
  
  .bg-skew-light:before {
    background-color: #f8f9fa
  }

  .card {
    /* mb-5 */
    margin-bottom: 48px;
  }

  /* card layout of list page */

  .card-body {
    /* pt-5 px-5 pb-4*/
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 24px;

    /* text-center */
    text-align: center !important;
  }

  .card-title {
    /* mb-4 */
    margin-bottom: 24px;
  }

  .card-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: translateY(-3px)
  }
  
  .card-title a:focus, .card-title a:hover {
    color: #006aff;
    text-decoration: none
  }
