{{- define "main" }}

<style>
.main {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}

.post-content {
    display: grid;
    grid-template-columns: auto 400px;
}
</style>

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
    </h1>
  </header>

  {{- if .Content }}
  <div class="post-content">
	  <div>
	  	{{ .Content }}
	  </div>
	  <div>
          </div>
  </div>
  {{- end }}
</article>

{{- end }}{{/* end main */}}
