{{ partial "header.html" . }}
    <main id="main">
        {{ partial "menu.html" . }}
        <div class="bg-skew bg-skew-light">
            <div class="container-xl">
                <div class="row justify-content-center">

                    <!-- content area -->
                    <div class="col-9">
                        <article class="article-entry">
                            {{ .Content }}
                        </article>
                        <div class="article-navigation row">
                            <div class="col-6 text-left">
                            {{ with .PrevInSection }}
                              <a class="text-reset" href="{{ .Permalink }}">&larr; {{ .Title }}</a>
                            {{ end }}
                            </div>
                            <div class="col-6 text-right">
                            {{ with .NextInSection }}
                              <a class="text-reset" href="{{ .Permalink }}">{{ .Title }} &rarr;</a>
                            {{ end }}
                            </div>
                        </div>                                                
                        {{ template "_internal/disqus.html" . }}
                    </div>

                    <!-- toc sidebar -->
                    <div class="col-2">
                        <div class="article-toc position-fixed">
                            <h3>Contents</h3>
                            {{ .TableOfContents }}
                        </div>
                        <script src="/js/toc.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{ partial "footer.html" . }}
