{{ partial "header.html" . }}

    <main id="main">
        {{ partial "menu.html" . }}
        <div class="bg-skew bg-skew-light">
            <div class="article-list container">
                <div class="row">
                    {{ range .Paginator.Pages }}
                        <div class="col-lg-6">
                            {{ partial "article-list-entry.html" . }}
                        </div>
                    {{ end }}
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {{ $paginator := $.Paginator }}
                        {{ range $paginator.Pagers }}
                        <li class="page-item {{ if eq $paginator.PageNumber .PageNumber }}active{{ end }}">
                          <a class="page-link" href="{{ .URL }}">{{.PageNumber}}</a>
                        </li>
                        {{ end }}              
                    </ul>
                </nav>
            </div>
        </div>
    </main>

{{ partial "footer.html" . }}
